.inviteWrapper {
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    margin: 5px 0px 30px;
    padding: 12px;
    background: linear-gradient(90.06deg, #181716 0%, #ED4E08 99.97%);
    flex-wrap: wrap;
}

.inviteWrapper button {
    border: none;
    border-radius: 50px;
    font-size: 14px;
    padding: 10px 30px;
    margin-left: 20px;
    color: #0c0a09;
    transition: all 0.3s linear;
}

.inviteWrapper button:hover {
    transform: translateY(-3px);
    color: #f2471d;
    box-shadow: 0px 0px 5px #772c15;
}