.signUpWrapper {
    max-width: 400px;
    box-shadow: 0px 0px 10px #d9d9d9;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
}

.btn-form button {
    margin-top: 20px;
}

.success-msg{
    width: 100%;
    padding: 14px;
    background-color: #dff0d8;
    color: #468847;
  }
  
  .error-msg{
    width: 100%;
    padding: 14px;
    background-color: #f0d0d3;
    color: #df786f;
  }
  
  .link{
    text-decoration: none;
  }